:root {

  /* Default is lightmode */
  --background-color: #FFFFFF;
  --background-accent: #E4E4E4;
  --text-color: black;

}

/* If darkmode */
[data-theme='dark'] {
  --background-color: #2D2E39;
  --background-accent: #25262F;
  --text-color: white;
  --indicator: white;
}

/* If lightmode */
[data-theme='light'] {
  --background-color: #FFFFFF;
  --background-accent: #E4E4E4;
  --text-color: black;
  --indicator: black;
}

body, .bg-theme {
  background-color: var(--background-color);
  color: var(--text-color);
}
