@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
/* Modal container */
.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(31, 41, 55, 0.75); 
  z-index: 50;
}

/* Modal box */
.modal-box {
  background-color: #212836;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 380px;
  text-align: center;
}
/* Comment */
/* Modal title */
.modal-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
  font-family: 'Dangrek', sans-serif;
}

/* Modal text */
.modal-text {
  color: #bbb;
  margin-bottom: 24px;
  font-family: 'Dangrek';
}

/* Button container */
.button-container {
  display: flex;
  justify-content: space-between;
}

/* Common button styles */
.modal-button {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-family: 'Dangrek', sans-serif;
  color: black;
}

/* Cancel button */
.cancel-button {
  background-color: #2f3640;
  color: #E4E4E4;
}
.logout-icon{
  background-color: transparent;
}
/* Logout button */
.logout-button {
  color: #fff;
  background-color: #0376F2;
}
.something{
  color: blanchedalmond;
}