.sidebar {
    width: 100px;
    height: 100vh;
    background-color: #25262F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;   
    left: 0;
    top: 0;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
}

.sidebar-logo {
    font-size: 4rem;
    text-align: center;
    padding: 0px 0;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li {
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

.sidebar-nav ul li:hover {
    background-color: #28293E;
}

.sidebar-footer {
    padding: 20px;
    text-align: center;
}