.page-layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 100px;
    height: 100vh;
    background-color: #25262F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;   
    left: 0;
    top: 0;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
}

.sidebar-logo {
    font-size: 4rem;
    text-align: center;
    padding: 0px 0;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li {
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

.sidebar-nav ul li:hover {
    background-color: #28293E;
}

.sidebar-footer {
    padding: 20px;
    text-align: center;
}

.content-area {
    flex-grow: 1;
    margin-left: 100px;
    padding: 20px;
    background-color: #1E1E1E;
    overflow-x: hidden;
}

.movie-list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px 0;
    color: aliceblue;
}

.movie-list-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px 0;
    color: aliceblue;
}
.movie-item img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.movie-item:hover {
    transform: translateY(-5px);
}

.movie-item {
    flex: 0 0 auto;
    width: 200px;
    background-color: #1E1E1E;
    border-radius: 8px;
    padding: 10px;
}

.mySwiper {
    width: 90%; 
    height: 367px;
    background-color: #1E1E1E;
    border-radius: 25px;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
  
.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    opacity: 0.8;
    transition: opacity 0.3s;
}
  
.custom-prev {
    left: 10px;
}
  
.custom-next {
    right: 10px;
}
.genre-filters {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    overflow-x: auto;
    padding: 10px;

}

.genre-button {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 40px 60px;
    background-color: #25262F;
    color: white;
    border-radius: 16px;
    font-size: 14px;
    text-transform: uppercase;
}

.genre-button:hover {
    background-color: #3C3D4E;
}

.genre-button.active {
    background-color: #FF4C60;
    color: white;
}

.genre-button svg {
    margin-right: 8px;
    font-size: 18px;
}

.section-title{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}